# 1. Background of the Study

## Title of the Study
### **Classifying Filipino Families by Income Group Using Socio-Demographic and Expenditure Data**

***

## Source of Data
| Attribute | Details |
| :--- | :--- |
| **Dataset Name** | Family Income and Expenditure Survey (FIES) — Philippines |
| **Primary Source** | Philippine Statistics Authority (PSA) |
| **Acquisition Source** | Kaggle — Family Income and Expenditure Dataset |

***

## Brief Description of the Dataset
The dataset provides detailed information on Filipino households’ **annual income**, **sources of earnings**, and comprehensive **patterns of expenditure**. It contains both quantitative (numerical) and categorical features that describe the household’s socio-economic profile.

* **Number of Rows and Columns:** 41544 rows and 60 columns
* **Sample Variables:**
    * `Region` – geographic region of the household (Categorical)
    * `Household_Head_Age` – age of the family head (Quantitative)
    * `Education` – highest educational attainment (Categorical/Ordinal)
    * `Family_Size` – total number of family members (Quantitative)
    * `Total_Income` – total annual family income (Quantitative)
    * `Food_Expenditure`, `Education_Expenditure`, `Housing_Expenditure`, etc. – detailed spending categories (Quantitative)

***

## Machine Learning Task Details

### Selected Features (Independent Variables)
The model will utilize a combination of socio-demographic and spending-related factors as input features, including:
* Region
* Education level and age of household head
* Family size
* Major expenditure categories (food, housing, education, transportation, etc.)

### Target / Label Column (Dependent Variable)
The target variable is the engineered class label: `Income_Class`. This represents a **Binary Classification** problem.

| Label | Group | Definition |
| :---: | :--- | :--- |
| **0** | **Low-Income Group** | Families with an annual income at or **below** the national median income. |
| **1** | **High-Income Group** | Families with an annual income **above** the national median income. |

### Objective of the Study
The objective is to build a robust **machine learning classification model** (e.g., Random Forest) that accurately predicts whether a Filipino family belongs to the High-Income (1) or Low-Income (0) group based on their observed demographic characteristics and expenditure patterns. The study aims to identify the key features that drive this economic classification, providing insights for targeted poverty or welfare policies.

---
# 2. Data Collection / Loading
The dataset used in this study is the Family Income and Expenditure Survey (FIES), publicly available on Kaggle. It contains socio-economic and spending data of Filipino households, based on surveys originally conducted by the Philippine Statistics Authority (PSA). The data is stored in a CSV file format (Family Income and Expenditure.csv) and is imported using the pandas library for data analysis and manipulation.

In [317]:
# Importing necessary libraries
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

df = pd.read_csv('Family Income and Expenditure.csv')

In [318]:
# rows and columns of the dataframe
df.shape

(41544, 60)

In [319]:
# displaying the first few rows of the dataframe 
df.head()

,Total Household Income,Region,Total Food Expenditure,Main Source of Income,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,480332,CAR,117848,Wage/Salaries,0,42140,38300,24676,16806,3325,...,1,1,0,0,0,2,1,0,0,1
1,198235,CAR,67766,Wage/Salaries,0,17329,13008,17434,11073,2035,...,0,1,0,0,0,3,1,0,0,2
2,82785,CAR,61609,Wage/Salaries,1,34182,32001,7783,2590,1730,...,0,0,0,0,0,0,0,0,0,0
3,107589,CAR,78189,Wage/Salaries,0,34030,28659,10914,10812,690,...,0,0,0,0,0,1,0,0,0,0
4,189322,CAR,94625,Wage/Salaries,0,34820,30167,18391,11309,1395,...,1,0,0,0,0,3,0,0,0,1

---
# 3. Data Information and Summary Statistics
This section provides an overview of the dataset's structure, data types, and the initial statistical distribution of the variables, which is crucial for identifying necessary preprocessing and cleaning steps

In [320]:
# dataframe information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41544 entries, 0 to 41543
Data columns (total 60 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Total Household Income                         41544 non-null  int64
 1   Region                                         41544 non-null  object
 2   Total Food Expenditure                         41544 non-null  int64
 3   Main Source of Income                          41544 non-null  object
 4   Agricultural Household indicator               41544 non-null  int64
 5   Bread and Cereals Expenditure                  41544 non-null  int64
 6   Total Rice Expenditure                         41544 non-null  int64
 7   Meat Expenditure                               41544 non-null  int64
 8   Total Fish and  marine products Expenditure    41544 non-null  int64
 9   Fruit Expenditure                              41544 non-null  int64
 10  Vegetables Expenditure                         41544 non-null  int64
 11  Restaurant and hotels Expenditure              41544 non-null  int64
 12  Alcoholic Beverages Expenditure                41544 non-null  int64
 13  Tobacco Expenditure                            41544 non-null  int64
 14  Clothing, Footwear and Other Wear Expenditure  41544 non-null  int64
 15  Housing and water Expenditure                  41544 non-null  int64
 16  Imputed House Rental Value                     41544 non-null  int64
 17  Medical Care Expenditure                       41544 non-null  int64
 18  Transportation Expenditure                     41544 non-null  int64
 19  Communication Expenditure                      41544 non-null  int64
 20  Education Expenditure                          41544 non-null  int64
 21  Miscellaneous Goods and Services Expenditure   41544 non-null  int64
 22  Special Occasions Expenditure                  41544 non-null  int64
 23  Crop Farming and Gardening expenses            41544 non-null  int64
 24  Total Income from Entrepreneurial Acitivites   41544 non-null  int64
 25  Household Head Sex                             41544 non-null  object
 26  Household Head Age                             41544 non-null  int64
 27  Household Head Marital Status                  41544 non-null  object
 28  Household Head Highest Grade Completed         41544 non-null  object
 29  Household Head Job or Business Indicator       41544 non-null  object
 30  Household Head Occupation                      34008 non-null  object
 31  Household Head Class of Worker                 34008 non-null  object
 32  Type of Household                              41544 non-null  object
 33  Total Number of Family members                 41544 non-null  int64
 34  Members with age less than 5 year old          41544 non-null  int64
 35  Members with age 5 - 17 years old              41544 non-null  int64
 36  Total number of family members employed        41544 non-null  int64
 37  Type of Building/House                         41544 non-null  object
 38  Type of Roof                                   41544 non-null  object
 39  Type of Walls                                  41544 non-null  object
 40  House Floor Area                               41544 non-null  int64
 41  House Age                                      41544 non-null  int64
 42  Number of bedrooms                             41544 non-null  int64
 43  Tenure Status                                  41544 non-null  object
 44  Toilet Facilities                              39964 non-null  object
 45  Electricity                                    41544 non-null  int64
 46  Main Source of Water Supply                    41544 non-null  object
 47  Number of Television                           41544 non-null  int64
 48  Number of CD/VCD/DVD                           41544 non-null  int64
 49  Number of Component/Stereo set                 41544 non-null  int64
 50  Number of Refrigerator/Freezer                 41544 non-null  int64
 51  Number of Washing Machine                      41544 non-null  int64
 52  Number of Airconditioner                       41544 non-null  int64
 53  Number of Car, Jeep, Van                       41544 non-null  int64
 54  Number of Landline/wireless telephones         41544 non-null  int64
 55  Number of Cellular phone                       41544 non-null  int64
 56  Number of Personal Computer                    41544 non-null  int64
 57  Number of Stove with Oven/Gas Range            41544 non-null  int64
 58  Number of Motorized Banca                      41544 non-null  int64
 59  Number of Motorcycle/Tricycle                  41544 non-null  int64
dtypes: int64(45), object(15)
memory usage: 19.0+ MB

In [321]:
df.shape

(41544, 60)

In [322]:
# check dataframe shape if have null values
df.isnull().sum()

Total Household Income                              0
Region                                              0
Total Food Expenditure                              0
Main Source of Income                               0
Agricultural Household indicator                    0
Bread and Cereals Expenditure                       0
Total Rice Expenditure                              0
Meat Expenditure                                    0
Total Fish and  marine products Expenditure         0
Fruit Expenditure                                   0
Vegetables Expenditure                              0
Restaurant and hotels Expenditure                   0
Alcoholic Beverages Expenditure                     0
Tobacco Expenditure                                 0
Clothing, Footwear and Other Wear Expenditure       0
Housing and water Expenditure                       0
Imputed House Rental Value                          0
Medical Care Expenditure                            0
Transportation Expenditure                          0
Communication Expenditure                           0
Education Expenditure                               0
Miscellaneous Goods and Services Expenditure        0
Special Occasions Expenditure                       0
Crop Farming and Gardening expenses                 0
Total Income from Entrepreneurial Acitivites        0
Household Head Sex                                  0
Household Head Age                                  0
Household Head Marital Status                       0
Household Head Highest Grade Completed              0
Household Head Job or Business Indicator            0
Household Head Occupation                        7536
Household Head Class of Worker                   7536
Type of Household                                   0
Total Number of Family members                      0
Members with age less than 5 year old               0
Members with age 5 - 17 years old                   0
Total number of family members employed             0
Type of Building/House                              0
Type of Roof                                        0
Type of Walls                                       0
House Floor Area                                    0
House Age                                           0
Number of bedrooms                                  0
Tenure Status                                       0
Toilet Facilities                                1580
Electricity                                         0
Main Source of Water Supply                         0
Number of Television                                0
Number of CD/VCD/DVD                                0
Number of Component/Stereo set                      0
Number of Refrigerator/Freezer                      0
Number of Washing Machine                           0
Number of Airconditioner                            0
Number of Car, Jeep, Van                            0
Number of Landline/wireless telephones              0
Number of Cellular phone                            0
Number of Personal Computer                         0
Number of Stove with Oven/Gas Range                 0
Number of Motorized Banca                           0
Number of Motorcycle/Tricycle                       0
dtype: int64

In [323]:
# check if household head occupation have null values
df['Household Head Occupation'].isnull().sum()

np.int64(7536)

In [324]:
df.describe()

,Total Household Income,Total Food Expenditure,Agricultural Household indicator,Bread and Cereals Expenditure,Total Rice Expenditure,Meat Expenditure,Total Fish and marine products Expenditure,Fruit Expenditure,Vegetables Expenditure,Restaurant and hotels Expenditure,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
count,4.154400e+04,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,...,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000,41544.000000
mean,2.475556e+05,85099.158194,0.429858,25133.723642,18195.825005,10540.072574,10529.318337,2550.474990,5006.918568,15436.566075,...,0.394184,0.319806,0.129814,0.081215,0.060610,1.905738,0.315015,0.135038,0.013119,0.289885
std,2.868805e+05,51637.947682,0.676666,13466.482984,11727.224350,10497.727757,7812.201613,2969.752879,3300.175236,23705.195929,...,0.537025,0.478482,0.448673,0.346786,0.276732,1.558130,0.739698,0.354083,0.127171,0.558408
min,1.128500e+04,2947.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.048950e+05,51017.250000,0.000000,16556.000000,11020.000000,3353.750000,5504.000000,1024.750000,2873.000000,1930.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.640795e+05,72985.500000,0.000000,23324.000000,16620.000000,7332.500000,8695.000000,1820.000000,4314.000000,7314.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
75%,2.911385e+05,105635.500000,1.000000,31439.000000,23920.000000,14292.000000,13388.000000,3100.000000,6304.250000,19921.250000,...,1.000000,1.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
max,1.181599e+07,827565.000000,2.000000,765864.000000,758326.000000,261566.000000,188208.000000,273769.000000,74800.000000,725296.000000,...,5.000000,3.000000,5.000000,5.000000,4.000000,10.000000,6.000000,3.000000,3.000000,5.000000

## Findings:
- The dataset contains 41,544 rows (representing individual families/households) and 60 columns (features). 
- A check for null values across the entire dataset revealed zero missing entries (as confirmed by the count row being uniform across all columns) except for Household Head Occupation that has 7,536 missing values.
- the data is complete but exhibits high skewness and large differences in feature scales. The next steps in data cleaning and pre-processing must focus on handling the income skew and scaling all numerical features.

---
# 4. Data Cleaning
This section addresses inconsistencies and prepares the raw features for the subsequent Data Engineering steps.

### 4.1 Dropping Unneeded Columns
This process involves permanently removing columns from the DataFrame that are redundant, irrelevant, or potentially harmful to the modeling process.

In [325]:
# list all the columns in the dataframe
pd.DataFrame({'Column Names': df.columns})

                                     Column Names
0                          Total Household Income
1                                          Region
2                          Total Food Expenditure
3                           Main Source of Income
4                Agricultural Household indicator
5                   Bread and Cereals Expenditure
6                          Total Rice Expenditure
7                                Meat Expenditure
8     Total Fish and  marine products Expenditure
9                               Fruit Expenditure
10                         Vegetables Expenditure
11              Restaurant and hotels Expenditure
12                Alcoholic Beverages Expenditure
13                            Tobacco Expenditure
14  Clothing, Footwear and Other Wear Expenditure
15                  Housing and water Expenditure
16                     Imputed House Rental Value
17                       Medical Care Expenditure
18                     Transportation Expenditure
19                      Communication Expenditure
20                          Education Expenditure
21   Miscellaneous Goods and Services Expenditure
22                  Special Occasions Expenditure
23            Crop Farming and Gardening expenses
24   Total Income from Entrepreneurial Acitivites
25                             Household Head Sex
26                             Household Head Age
27                  Household Head Marital Status
28         Household Head Highest Grade Completed
29       Household Head Job or Business Indicator
30                      Household Head Occupation
31                 Household Head Class of Worker
32                              Type of Household
33                 Total Number of Family members
34          Members with age less than 5 year old
35              Members with age 5 - 17 years old
36        Total number of family members employed
37                         Type of Building/House
38                                   Type of Roof
39                                  Type of Walls
40                               House Floor Area
41                                      House Age
42                             Number of bedrooms
43                                  Tenure Status
44                              Toilet Facilities
45                                    Electricity
46                    Main Source of Water Supply
47                           Number of Television
48                           Number of CD/VCD/DVD
49                 Number of Component/Stereo set
50                 Number of Refrigerator/Freezer
51                      Number of Washing Machine
52                       Number of Airconditioner
53                       Number of Car, Jeep, Van
54         Number of Landline/wireless telephones
55                       Number of Cellular phone
56                    Number of Personal Computer
57            Number of Stove with Oven/Gas Range
58                      Number of Motorized Banca
59                  Number of Motorcycle/Tricycle

In [326]:
df.drop(columns=[
    'Total Household Income',  # Must be dropped to ensure the model learns from the predictors and not the answer itself.

    # The informations is sufficiently captured by Total Food Expenditure. Keeping all detailed food items introduces multicollinearity.
    'Bread and Cereals Expenditure',
    'Total Rice Expenditure',
    'Meat Expenditure',
    'Total Fish and  marine products Expenditure', 
    'Fruit Expenditure',
    'Vegetables Expenditure',

    # Redundant: Less Predictive Detailed Expenditures
    'Restaurant and hotels Expenditure', 

    # Redundant: This is a calculated value highly correlated with Housing and water Expenditure and House Floor Area.
    'Imputed House Rental Value', 
    
    # Redundant: with Occupation/Class of Worker
    'Household Head Job or Business Indicator',
    
    # Redundant: with Main Source of Income
    'Total Income from Entrepreneurial Acitivites', 
    
    # Redundant: Information is sufficiently captured by Total Number of Family members.
    'Members with age less than 5 year old',
    'Members with age 5 - 17 years old', 
    
    # Redundant/Correlated: Often correlated with Type of Building/House and House Floor Area.
    'Type of Roof', 
    'Type of Walls', 
    'Toilet Facilities', 
    
    # Low Variance: These are standard utilities for most households; they offer little power to differentiate between income classes.
    'Electricity', 
    'Main Source of Water Supply',

    # Low Differential/Obsolete: Less discriminatory for high income than a car or AC unit. CD/VCD are obsolete indicators.
    'Number of Television', 
    'Number of CD/VCD/DVD', 
    'Number of Component/Stereo set', 
    
    #Obsolete Indicator: Mobile phones are the standard.
    'Number of Landline/wireless telephones',

    #Noise/Redundant: Already covered by Main Source of Income.
    'Agricultural Household indicator',

    # Noise: Highly variable and not a consistent economic class indicator.
    'Alcoholic Beverages Expenditure',
    'Tobacco Expenditure',

    # Noise/Less Predictive: Less consistent predictor than housing/education. Households may not necessarily spend more if they earn a lot.
    'Clothing, Footwear and Other Wear Expenditure',

    # Noise: Too broad and captures inconsistent spending.
    'Miscellaneous Goods and Services Expenditure',

    # Noise: Random, non-structural spending that does not reflect structural income.
    'Special Occasions Expenditure',

    # Noise/Redundant: Covered by Main Source of Income.
    'Crop Farming and Gardening expenses',
    
    # Less Variance/Redundant: Covered by Marital Status and Family Size.
    'Type of Household',
    
    # Noisy/Unreliable: Often difficult to measure reliably and less predictive than Floor Area.
    'House Age',

    # Niche/Less Differential: Niche vehicles; Car/Jeep/Van is the superior differentiator.
    'Number of Motorized Banca', 
    'Number of Motorcycle/Tricycle'
], inplace=True)

In [327]:
# list all the columns in the dataframe after dropping unneeded columns
pd.DataFrame({
    'Column': df.columns,
    'Type': df.dtypes.values
})

                                     Column    Type
0                                    Region  object
1                    Total Food Expenditure   int64
2                     Main Source of Income  object
3             Housing and water Expenditure   int64
4                  Medical Care Expenditure   int64
5                Transportation Expenditure   int64
6                 Communication Expenditure   int64
7                     Education Expenditure   int64
8                        Household Head Sex  object
9                        Household Head Age   int64
10            Household Head Marital Status  object
11   Household Head Highest Grade Completed  object
12                Household Head Occupation  object
13           Household Head Class of Worker  object
14           Total Number of Family members   int64
15  Total number of family members employed   int64
16                   Type of Building/House  object
17                         House Floor Area   int64
18                       Number of bedrooms   int64
19                            Tenure Status  object
20           Number of Refrigerator/Freezer   int64
21                Number of Washing Machine   int64
22                 Number of Airconditioner   int64
23                 Number of Car, Jeep, Van   int64
24                 Number of Cellular phone   int64
25              Number of Personal Computer   int64
26      Number of Stove with Oven/Gas Range   int64

## Summary:
- Dropped the original Total Household Income column and 33 noisy/redundant/detailed columns to ensure the model learns from the predictors and not the answer itself and prevents multicollinearity.
- All rows have inputs and is not null.

---
# 5. Data Engineering / pre-processing
This section transform the cleaned, consistent data into a format that machine learning algorithms can efficiently process. It is primarily focused on making the features mathematically and statistically suitable for modeling.

### 5.1 Feature Encoding (Handling Categorical Data)
Machine learning models only understand numbers, so any text-based (categorical) data must be converted into numerical representations.

In [328]:
# check all object type columns
df.dtypes[df.dtypes == 'object']

Region                                    object
Main Source of Income                     object
Household Head Sex                        object
Household Head Marital Status             object
Household Head Highest Grade Completed    object
Household Head Occupation                 object
Household Head Class of Worker            object
Type of Building/House                    object
Tenure Status                             object
dtype: object

In [329]:
# check first 5 rows of object type columns
df.select_dtypes(include=['object']).head()

,Region,Main Source of Income,Household Head Sex,Household Head Marital Status,Household Head Highest Grade Completed,Household Head Occupation,Household Head Class of Worker,Type of Building/House,Tenure Status
0,CAR,Wage/Salaries,Female,Single,Teacher Training and Education Sciences Programs,General elementary education teaching professi...,Worked for government/government corporation,Single house,Own or owner-like possession of house and lot
1,CAR,Wage/Salaries,Male,Married,Transport Services Programs,Transport conductors,Worked for private establishment,Single house,Own or owner-like possession of house and lot
2,CAR,Wage/Salaries,Male,Married,Grade 3,Farmhands and laborers,Worked for private establishment,Single house,Own or owner-like possession of house and lot
3,CAR,Wage/Salaries,Male,Married,Elementary Graduate,Rice farmers,Employer in own family-operated farm or business,Single house,Own or owner-like possession of house and lot
4,CAR,Wage/Salaries,Male,Married,Elementary Graduate,General managers/managing proprietors in trans...,Self-employed wihout any employee,Single house,Own or owner-like possession of house and lot

In [330]:
# For specific columns
columns_to_check = ['Region', 'Main Source of Income','Household Head Sex', 
                    'Household Head Marital Status', 'Household Head Highest Grade Completed',
                    'Household Head Occupation', 'Household Head Class of Worker',
                    'Type of Building/House', 'Tenure Status']

for col in columns_to_check:
    print(f"\n{col}:")
    print(df[col].unique())

Region:
['CAR' 'Caraga' 'VI - Western Visayas' 'V - Bicol Region' ' ARMM'
 'III - Central Luzon' 'II - Cagayan Valley' 'IVA - CALABARZON'
 'VII - Central Visayas' 'X - Northern Mindanao' 'XI - Davao Region'
 'VIII - Eastern Visayas' 'I - Ilocos Region' 'NCR' 'IVB - MIMAROPA'
 'XII - SOCCSKSARGEN' 'IX - Zasmboanga Peninsula']

Main Source of Income:
['Wage/Salaries' 'Other sources of Income' 'Enterpreneurial Activities']

Household Head Sex:
['Female' 'Male']

Household Head Marital Status:
['Single' 'Married' 'Widowed' 'Divorced/Separated' 'Annulled' 'Unknown']

Household Head Highest Grade Completed:
['Teacher Training and Education Sciences Programs'
 'Transport Services Programs' 'Grade 3' 'Elementary Graduate'
 'Second Year High School' 'Third Year High School'
 'Business and Administration Programs' 'First Year College'
 'High School Graduate'
 'Other Programs in Education at the Third Level, First Stage, of the Type that Leads to an Award not Equivalent to a First University or Baccalaureate Degree'
 'Humanities Programs' 'First Year High School' 'Grade 6' 'Grade 4'
 'Engineering and Engineering Trades Programs' 'Grade 2' 'Grade 5'
 'Social and Behavioral Science Programs'
 'Agriculture, Forestry, and Fishery Programs' 'Health Programs'
 'Fourth Year College' 'Engineering and Engineering trades Programs'
 'Second Year College' 'Third Year College' 'Grade 1' 'No Grade Completed'
 'Security Services Programs' 'Basic Programs' 'First Year Post Secondary'
 'Second Year Post Secondary' 'Post Baccalaureate'
 'Computing/Information Technology Programs'
 'Mathematics and Statistics Programs' 'Personal Services Programs'
 'Law Programs' 'Journalism and Information Programs'
 'Architecture and Building Programs'
 'Manufacturing and Processing Programs' 'Life Sciences Programs'
 'Other Programs of Education at the Third Level, First Stage, of the Type that Leads to a Baccalaureate or First University/Professional Degree (HIgher Education Level, First Stage, or Collegiate Education Level)'
 'Social Services Programs' 'Preschool' 'Physical Sciences Programs'
 'Arts Programs' 'Veterinary Programs' 'Environmental Protection Programs']

Household Head Occupation:
['General elementary education teaching professionals'
 'Transport conductors' 'Farmhands and laborers' 'Rice farmers'
 'General managers/managing proprietors in transportation, storage and communications'
 'Heavy truck and lorry drivers' nan 'Hog raising farmers'
 'Vegetable farmers'
 'General managers/managing proprietors in wholesale and retail trade'
 'Stocks clerks' 'Justices' 'Other social science professionals'
 'Protective services workers n. e. c.' 'Secretaries'
 'Electronics mechanics and servicers' 'Foresters and related scientists'
 'Shop salespersons and demonstrators'
 'College, university and higher education teaching professionals'
 'General managers/managing proprietors of restaurants and hotels'
 'Welders and flamecutters' 'Car, taxi and van drivers'
 'Motor vehicle mechanics and related trades workers'
 'Traditional chiefs and heads of villages' 'Motorcycle drivers'
 'Statistical, mathematical and related associate professionals'
 'Lineman, line installers and cable splicers' 'Carpenters and joiners'
 'Building construction laborers'
 'General managers/managing proprietors in manufacturing'
 'Masons and related concrete finishers' 'Legislative officials'
 'Inland and coastal waters fishermen' 'Painters and related workers'
 'Construction and maintenance laborers: roads, dams and similar constructions'
 'Helpers and cleaners in offices, hotels and other establishments'
 'General managers/managing proprietors n. e. c.'
 'Messengers, package and luggage porters and deliverers'
 'Social work associate professionals'
 'Hand packers and other manufacturing laborers'
 'Door-to-door and telephone salespersons' 'Hand launderers and pressers'
 'Sweepers and related laborers' 'Medical technologists'
 'Production and operations managers in agriculture, hunting, forestry and fishery'
 'Corn farmers' 'Cooks' 'School supervisors and principals'
 'Tailors, dressmakers and hatters' 'Wood and related products assemblers'
 'Police inspectors and detectives' 'Coconut farmers' 'Root crops farmers'
 'Fruit tree farmers' 'Coffee and cacao farmers' 'Forestry laborers'
 'Other office clerks'
 'General managers/managing proprietors of business services'
 'School principals' 'Civil engineers' 'Prison guards'
 "Ship's deck crews and related workers" 'Assembling laborers'
 'Tellers and other counter clerks'
 'Government administrators (including career executive service officers)'
 'Plumbers, pipe fitters and other related workers'
 'Mechanical engineering technicians' 'Street ambulant vendors'
 'Production supervisors and general foremen' 'Food preservers'
 'Basketry weavers, brush makers and related workers'
 'Statistical and finance clerks'
 'Non-ordained religious associate professionals'
 'Wood products machine operators' 'Building and related electricians'
 'Production and operations managers in restaurant and hotels'
 'Other supervisors, n. e. c.' 'Other orchard farmers'
 'Building caretakers' 'Doorkeepers, watchpersons and related workers'
 'Waiters, waitresses and bartenders' "Ships' deck officers and pilots"
 'Child care workers' 'Mining and quarrying laborers'
 'Religious professionals' 'Earth-moving and related plant operators'
 'General managers/managing proprietors in agriculture, hunting, forestry and fishing'
 'Motorized farm and forestry plant operators'
 'Domestic helpers and cleaners'
 'Broadcasting and telecommunications equipment operators'
 'General secondary education teaching professionals'
 'Accounting and bookkeeping clerks'
 'Chemical processing plant operators n. e. c.' 'Freight handlers'
 'Fishery laborers and helpers' 'Data entry operators'
 'Miners and quarry workers' 'Police officers'
 'Cabinet/furniture makers and related workers' 'Duck raisers'
 'Blacksmiths, hammersmiths, and forging-press workers'
 'General managers/managing proprietors in personal care, cleaning and relative services'
 'Butchers, fishmongers and related food preparers'
 'Cotton and fiber crops farmers' 'Forest tree planters'
 'Bet bookmakers and croupiers' 'Transport clerks'
 'Enlisted personnel n. e. c.'
 'Directors and chief executives of corporations' 'Combat soldiers'
 'Concessionaires and loggers' 'Institution-based personal care workers'
 'Market and sidewalk stall vendors' 'Minor forest products gatherers'
 'Debt collectors and related workers'
 'Vocational education teaching professionals'
 'Wood processing plant operators' 'Shotfirers and blasters'
 'Fruit, vegetable and nut processing machine operators'
 'Lifting truck operators' 'Bakers, pastry cooks and confectionery makers'
 'Photographic products machine operators'
 'Rattan, bamboo and other wicker furniture makers' 'Chicken farmers'
 'Mining-plant operators' 'Rubber products machine operators'
 'Pawnbrokers and money lenders' 'Sheet-metal workers'
 'Fish-farm cultivators (excluding prawns)'
 'General managers/managing proprietors in construction'
 'Stall and market salespersons'
 'Handicraft workers in wood and related materials'
 'Weavers, knitters and related workers'
 'Traditional medicine practitioners'
 'Personnel and industrial relations managers'
 'Cement and other mineral products machine operators' 'Firefighters'
 'Undertakers and embalmers'
 'Hairdressers, barbers, beauticians and related workers'
 'Shoe cleaning and other street services elementary occupations'
 'Silk-screen, block and textile printers' 'Choreographers and dancers'
 'Garbage collectors' 'Ornamental plant growers'
 'Cashiers and ticket clerks' 'Varnishers and related painters'
 'Accountants and auditors' 'Personal care and related workers, n. e. c.'
 'Library and filing clerks' 'Cattle and dairy farmers'
 'Structural-metal preparers, erectors and related workers'
 'Other livestock farmers'
 'Production and operations managers in transport, storage and communications'
 'Sales and marketing managers'
 'Grain and spice milling machine operators' 'Deep-sea fishermen'
 'Mechanical engineers'
 'Production and operations managers in manufacturing'
 'Agronomists and related scientists' 'Research and development managers'
 'Computer equipment operators'
 'Other administrative associate professionals' 'Bookkeepers'
 'Midwifery associate professionals'
 'Other machine operators and assemblers'
 'Sewers, Embroiderers and related workers'
 'Safety, health and quality inspectors (vehicles, processes and products)'
 'Electronic equipment assemblers'
 'Textile, leather and related patternmakers and cutters' 'Roofers'
 'Other field crop farmers' 'Sugarcane farmers'
 'Power production plant operators' 'Other poultry farmers'
 'Metal-wheel grinders, polishers and tool sharpeners'
 'Other computer professionals' 'Electrical mechanics and fitters'
 'Metal finishing, plating and coating machine operators'
 'Professional nurses' 'Professional, technical and related officers'
 'Charcoal makers and related workers' 'Athletes and related workers'
 'Decorators and commercial designers' 'Automated assembly-line operators'
 'Labor contractors and employment agents'
 'Sugar production machine operators' 'Veterinary assistants'
 'Glass makers, cutters, grinders and finishers'
 'Production and operations managers in personal care, cleaning and relative services'
 'Tool-makers and related workers'
 'Transport and communications service supervisors n. e. c.'
 'Other specialized managers' 'Riggers and cable splicers'
 'Production and operations managers in wholesale and retail trade'
 'Field legumes farmers' 'Staff officers' 'Estate agents'
 'Technical and commercial sales representatives' 'Computer programmers'
 'Receptionists and information clerks' 'Pharmacists'
 'Housekeepers and related workers' 'Appraisers and valuers'
 'Government tax and excise officials'
 'Administrative secretaries and related associate professionals'
 'Bus drivers' 'Teaching associate professionals' 'Architects'
 'Finance and administration managers' 'Commanding officers'
 'Nutritionists-dietitians' 'Professional midwives'
 'Street, nightclub and related musicians, singers and dancers'
 'Electrical Engineers' 'Mining and metallurgical engineering technicians'
 'Draftsmen' 'Computer engineers and related professionals'
 'Other life science technicians' 'Dairy products makers'
 'Legal and related business associate professionals'
 'Mail carriers and sorting clerks'
 'Well drillers and borers and related workers'
 'Other business professionals'
 'Production and operations managers in construction' 'Farm technicians'
 'Economists' 'Building frame and related trades workers n. e. c.'
 'Chemists' 'Insurance representatives' 'Civil engineering technicians'
 'Word processor and related operators' 'Production clerks'
 'Meat and fish processing machine operators'
 'Other personal services workers, n. e. c.'
 'Crane, hoist and related plant operators'
 'Composers, musicians and singers'
 'Photographers and image and sound recording equipment operators'
 'Hand or pedal vehicle drivers' 'Statisticians'
 'Customs and immigration inspectors'
 'Electronics and communications engineers' 'Fashion and other models'
 'Metal melters, caster and rolling mill operators'
 'Weaving and knitting machine operators'
 'Personnel and human resource development professionals'
 'Mechanical machinery assemblers'
 'Workers reporting occupations unidentifiable or inadequately defined'
 'Sales supervisors in retail trade' 'Metal drawers and extruders'
 'Floor layers and tile setters' 'Systems analysts and designers'
 'Government licensing officials' 'Librarians, archivists and curators'
 'Incinerator, water treatment and related plant operators'
 'Town planners and related professionals'
 'Home-based personal care workers' 'Education methods specialists'
 'Sculptors, painters and related artists' 'Buyers'
 'Other health associate professionals (except nursing)'
 'Precision instrument makers and repairers' 'Medical assistants'
 'Medical doctors' 'Compositors, typesetters and related workers'
 'Faith healers' 'Travel consultants and organizers'
 'Air transport service supervisors' 'Companions and valets'
 'Senior officials of humanitarian and other special-interest organizations'
 'Electrical equipment assemblers'
 'Metal, rubber and plastic products assemblers'
 'Electronics and communications engineering technicians'
 'Industrial engineers'
 'Baked goods and cereal and chocolate products machine operators'
 'Metal molders and coremakers' 'Lawyers' 'Dentists'
 'Marine craft mechanics'
 'Pre-elementary education teaching professionals'
 'Bookbinders and related workers' 'Jewelry and precious metal workers'
 'Travel guides' 'Social work professionals'
 'Musical instrument makers and tuners'
 'Machine-tool setters and setter operators' 'Stenographers and typists'
 'Stone splitters, cutters and carvers'
 'Ship and aircraft controllers and technicians'
 'Photographic and related workers' 'Computer assistants'
 'Aircraft engine mechanics and fitters'
 'Production and operations managers in business services'
 'Woodworking machine setters and setter-operators'
 'Food and beverage tasters and graders'
 'Technical and vocational instructors/trainors' 'Trade brokers'
 'Radio, television and other announcers' 'Air traffic safety technicians'
 'Other plant growers' 'Pressman letterpresses and related workers'
 'Other health professionals (except nursing)'
 'Mineral ore and stone-processing plant operators'
 'Shoemakers and related workers'
 'Agricultural or industrial machinery mechanics and fitters'
 'Nonformal education teaching professionals other than technical and vocational trainors/instructors'
 'Seaweeds cultivators' 'Upholsterers and related workers'
 'Sales supervisors in wholesale trade' 'Insulation workers'
 'Machine tool operators' 'Authors, journalists and other writers'
 'Technician, skilled, semi-skilled workers'
 'Tobacco preparers and tobacco products makers'
 'Other physical science and engineering technicians'
 'Other sales supervisors'
 'Brewers and wine and other beverage machine operators'
 'Supply and distribution managers' 'Papermaking plant operators'
 'Pharmaceutical and toiletry products machine operators'
 'Paperboard, textile and related products assemblers'
 'Building and fire inspectors'
 'Telecommunication equipment installers and repairers'
 'Plastic products machine operators' 'Industrial robot operators'
 'Chemical engineers' 'Dairy products machine operators'
 'Fishermen n. e. c.' 'Science and mathematics teaching professionals'
 'Dental assistants' 'Drivers of animal-drawn vehicles and machinery'
 'Postal service supervisors'
 'Science and mathematics elementary education teaching professionals'
 'Hunting and trapping laborers'
 'Other government associate professionals'
 'Coding, proof-reading and related clerks'
 'Geodetic engineers and related professionals'
 'Business machines mechanics and repairers'
 'Bleaching, dyeing and cleaning machine operators'
 'Other finance and sales associate professionals'
 'Life science technicians' 'Telephone switchboard operators'
 'Other animal raisers' 'Pharmaceutical assistants'
 'Petroleum and natural gas refining plant operators'
 'Builders (traditional materials)'
 'Maritime transport service supervisors' 'Service and related workers'
 'Medical equipment operators' 'Electronics fitters'
 'Fiber preparing, spinning and winding machine operators'
 'Hunters and trappers' 'Other business services and trade brokers'
 'Shoemaking and related machine operators'
 'Other aqua products cultivators' 'Government social benefits officials'
 'Potters and related clay and abrasive formers'
 'Other creative or performing artists' 'Other teaching professionals'
 'Tree nut farmers' 'Fiber preparers' 'Officers, n. e. c.'
 'Nursing associate professionals' 'Vehicle, window and related cleaners'
 'Other engineers and related professionals' 'Physiotherapists' 'Tanners'
 'Glass and ceramics kiln and related machine operators'
 'Textile and leather products machine operators n. e. c.'
 'Optometrists and opticians' 'Locomotive engine drivers'
 'Chemical products machine operators n. e. c.' 'Wood treaters'
 'Electrical engineering technicians'
 'Advertising and public relations managers' 'Paper pulp plant operators'
 'Veterinarians' 'Sewing machine operators'
 'Aircraft pilots, navigators and flight engineers'
 'Glass, ceramics and related plant operators n. e. c.']

Household Head Class of Worker:
['Worked for government/government corporation'
 'Worked for private establishment'
 'Employer in own family-operated farm or business'
 'Self-employed wihout any employee' nan
 'Worked without pay in own family-operated farm or business'
 'Worked for private household'
 'Worked with pay in own family-operated farm or business']

Type of Building/House:
['Single house' 'Duplex' 'Commercial/industrial/agricultural building'
 'Multi-unit residential' 'Institutional living quarter'
 'Other building unit (e.g. cave, boat)']

Tenure Status:
['Own or owner-like possession of house and lot'
 'Rent-free house and lot with consent of owner'
 'Own house, rent-free lot with consent of owner'
 'Own house, rent-free lot without consent of owner' 'Own house, rent lot'
 'Rent house/room including lot' 'Not Applicable'
 'Rent-free house and lot without consent of owner']

In [331]:
# print the count of unique values in each column
df_to_check_without_int_col = df.select_dtypes(exclude=['int64', 'float64'])

for col in columns_to_check:
    unique_counts = df_to_check_without_int_col.nunique()

print("\nUnique value counts for categorical columns:\n")
print(unique_counts)

Unique value counts for categorical columns:

Region                                     17
Main Source of Income                       3
Household Head Sex                          2
Household Head Marital Status               6
Household Head Highest Grade Completed     46
Household Head Occupation                 378
Household Head Class of Worker              7
Type of Building/House                      6
Tenure Status                               8
dtype: int64

### Findings:
- columns that has low cardinality (Region, Main Source of Income, etc.) can be encode using **one-hot encoding** and **binary-encoding** (Male = 0, Female = 1)
- columns with too many cardinality like **Household Head Highest Grade Completed** and **Household Head Occupation** needs to be encoded in different way

---

### 5.1.2 One-hot Encoding and Binary Encoding Columns
To prepare the dataset for machine learning, categorical variables must be converted into numerical form so that the Random Forest Classifier can interpret them effectively. Two encoding techniques were used in this study — **One-Hot Encoding and Binary Encoding** — depending on the number of unique categories in each column.

- **One-hot encoding** - was applied to categorical features with a small number of unique values.
- **Binary encoding** - was used for features containing only two categories.

In [332]:
print(f"Original shape: {df.shape}")

# List of columns to one-hot encode
categorical_columns = [
    'Region',
    'Main Source of Income',
    'Household Head Marital Status',
    'Household Head Class of Worker',
    'Type of Building/House',
    'Tenure Status'
]

# One-hot encode the categorical columns
df = pd.get_dummies(df, columns=categorical_columns, drop_first=False)

from sklearn.preprocessing import LabelEncoder

# Encode Sex column (Female = 0, Male = 1)
le = LabelEncoder()
df['Household Head Sex'] = le.fit_transform(df['Household Head Sex'])


# Display the shape before and after encoding

print(f"Encoded shape: {df.shape}")

Original shape: (41544, 27)
Encoded shape: (41544, 68)

---
### 5.1.3 Ordinal Encoding - Household Head Highest Grade Completed (46 Categories)
The “Household Head Highest Grade Completed” column contains 46 unique categories representing various levels of educational attainment. Since education follows a natural progression or order (from no education to postgraduate studies), it is most appropriate to represent this feature using Ordinal Encoding.

Ordinal Encoding converts each category into a numerical value based on its relative rank or educational level. This approach preserves the inherent order among categories, allowing the model to interpret higher numerical values as higher levels of education.

In [333]:
# All specific 'Programs' are assigned the same high rank (20) as they imply a degree/specialization.
education_rank_map = {
    # ------------------ Rank 1-9: Elementary School ------------------
    'No Grade Completed': 1,
    'Basic Programs': 2,
    'Preschool': 2,
    'Grade 1': 3,
    'Grade 2': 4,
    'Grade 3': 5,
    'Grade 4': 6,
    'Grade 5': 7,
    'Grade 6': 8,
    'Elementary Graduate': 9,

    # ------------------ Rank 10-13: High School ------------------
    'First Year High School': 10,
    'Second Year High School': 11,
    'Third Year High School': 12,
    'High School Graduate': 13,

    # ------------------ Rank 14-15: Post Secondary ------------------
    'First Year Post Secondary': 14,
    'Second Year Post Secondary': 15,

    # ------------------ Rank 16-19: College Years ------------------
    'First Year College': 16,
    'Second Year College': 17,
    'Third Year College': 18,
    'Fourth Year College': 19,

    # ------------------ Rank 20: Baccalaureate/Degree Programs ------------------
    # All 25 Program categories are ranked equally at 20 (Degree Equivalent)
    'Teacher Training and Education Sciences Programs': 20,
    'Transport Services Programs': 20,
    'Business and Administration Programs': 20,
    'Other Programs in Education at the Third Level, First Stage, of the Type that Leads to an Award not Equivalent to a First University or Baccalaureate Degree': 20,
    'Humanities Programs': 20,
    'Engineering and Engineering Trades Programs': 20,
    'Engineering and Engineering trades Programs': 20,
    'Social and Behavioral Science Programs': 20,
    'Agriculture, Forestry, and Fishery Programs': 20,
    'Health Programs': 20,
    'Security Services Programs': 20,
    'Computing/Information Technology Programs': 20,
    'Mathematics and Statistics Programs': 20,
    'Personal Services Programs': 20,
    'Law Programs': 20,
    'Journalism and Information Programs': 20,
    'Architecture and Building Programs': 20,
    'Manufacturing and Processing Programs': 20,
    'Life Sciences Programs': 20,
    'Other Programs of Education at the Third Level, First Stage, of the Type that Leads to a Baccalaureate or First University/Professional Degree (HIgher Education Level, First Stage, or Collegiate Education Level)': 20,
    'Social Services Programs': 20,
    'Physical Sciences Programs': 20,
    'Arts Programs': 20,
    'Veterinary Programs': 20,
    'Environmental Protection Programs': 20,

    # ------------------ Rank 21: Post Graduate ------------------
    'Post Baccalaureate': 21
}

column_name = 'Household Head Highest Grade Completed'

df['Education_Rank'] = df[column_name].map(education_rank_map)

df['Education_Rank'] = df['Education_Rank'].fillna(0).astype(int)

df = df.drop(columns=[column_name])

print("Ordinal Encoding applied successfully.\n")
print(df[['Education_Rank']].head())

Ordinal Encoding applied successfully.

   Education_Rank
0              20
1              20
2               5
3               9
4               9

---
### 5.1.4 Frequency Encoding - Household Head Occupation (378 Categories)
The “Household Head Occupation” column contains 378 unique categories, representing a wide range of job titles and professions. Because of its high cardinality, using one-hot encoding would result in an extremely large number of columns, leading to increased computational cost and potential model overfitting. To address this, the column was transformed using **Frequency Encoding**.

**Frequency Encoding** - replaces each category with the number of times it appears in the dataset or its relative frequency (i.e., proportion of total records). This method effectively converts the categorical variable into a numerical feature that reflects how common or rare each occupation is.

In [334]:
occupation_col = 'Household Head Occupation'
freq_col = f'{occupation_col}_freq'

df[occupation_col] = df[occupation_col].fillna('Unknown_Occupation')
freq_encoding = df[occupation_col].value_counts().to_dict()
df[freq_col] = df[occupation_col].map(freq_encoding).astype(float)

# Check missing values after encoding
print(df.isnull().sum())

Total Food Expenditure                                            0
Housing and water Expenditure                                     0
Medical Care Expenditure                                          0
Transportation Expenditure                                        0
Communication Expenditure                                         0
                                                                 ..
Tenure Status_Rent house/room including lot                       0
Tenure Status_Rent-free house and lot with consent of owner       0
Tenure Status_Rent-free house and lot without consent of owner    0
Education_Rank                                                    0
Household Head Occupation_freq                                    0
Length: 69, dtype: int64

---
## 5.2 Create Target Variable
To enable supervised learning, the dataset required a target variable representing household income class. The “Total Household Income” feature was used as the primary indicator for this purpose.

A new binary column, Income_Class, was created to classify households into two groups:

0 – Low Income Class

1 – High Income Class

#### PHILIPPINE INCOME CLASSIFICATION (Based on PSA Standards)
According to the Philippine Statistics Authority (PSA), the official poverty threshold varies by region and family size. However, for a standardized classification, use the following approach:

- Method: Official PSA Poverty Threshold National Average Annual Poverty Threshold per Family: PHP 166,452 (or PHP 13,873 per month) This is the minimum income needed to meet basic food and non-food needs which is close to the median PHP 164,079.50. 

The threshold will be used for the study. Households or individuals earning below or equal to PHP 166,452 are classified as Low Income, while those earning above it are classified as High Income.
This binary categorization allows for a simplified yet meaningful model of income disparity, reflecting real-world socioeconomic divisions.

In [ ]:
# Load the original dataset to access the 'Total Household Income' column
df_original = pd.read_csv('Family Income and Expenditure.csv')
income = df_original['Total Household Income']

PSA_POVERTY_THRESHOLD = 166452.50  # Annual per family

# Low-Income (0): Below poverty threshold
# High-Income (1): Above
#  poverty threshold
df['Income_Class'] = (income >= PSA_POVERTY_THRESHOLD).astype(int)

---
## check niyo na lang gclass ni maam para sa guide
# 6. Data Visualization 
# 7. Data Splitting (Training and Testing Set)
# 8. Model Selection and Training
# 9. Prediction Values (if applicable)
# 10. Visualization of Model Analysis
# 11. Performance Metrics
# 12. Conclusion